body {
    padding-left: 6px;
    border-left: 0px solid #da7962;
    background-color: white;
    font-family: monospace;
}

.top-border {
    height: 10px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px
}

.bg{z-index:-999}

.maths-paper-background-horizontal {
    background-image: url('/images/maths-paper-square.png');
    background-position: left top;
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: 10px 10px;
}

.maths-paper-background-vertical {
    background-image: url('/images/maths-paper-square.png');
    background-position: left top;
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: 10px 10px;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.maths-paper-logo-background {
    background-image: url('/images/maths-paper-square.png');
    background-size: 10px 10px;
    width:fit-content;
    max-width: 500px;
    position: fixed;
    top:20px;
    left:20px;
    background-attachment: fixed;
}

img {
    width: 500px;
    max-width: 100%;
}

header p {
    margin-left:15px;
}

header img{filter: drop-shadow(2px 5px 0.1px #ffa9a9);}

section {
    padding: 10px;
}

main section {
    display: flex;
    flex-wrap: wrap;
}

main section > * {
    max-width: 500px;
    width: 100%;
}

li[data-audio] {
    cursor: pointer;
}

li[data-audio].active {
    font-weight: bold;
}

form.paypal-button {
    padding: 10px;
    width: min-content;
}

audio {
    width: 100%;
    max-width: 500px;
    display: block;
}

audio, audio::-webkit-media-controls-panel {
    /* background-color: #da7962; */
}

#logo-container {
    width: 481px;
    max-width: 100%;
    height:118px;
}

#basket-container {
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    bottom:0px;
    left:0px;
    width:100%;
    background: rgba(255,255,255,0.95);
    border-top: 1px dotted red;
    padding:5px;
    text-align: center;
}

#basket-container > * {margin:0px;}

button {cursor: pointer;}